@keyframes gradient {
    0% {
        background-position: 0% 25%;
    }
    25% { background-position: 50% 75%}
    50% {
        background-position: 100% 50%;
    }
    75% { background-position: 50% 75%}
    100% {
        background-position: 0% 50%;
    }
}
